.field_order_line [data-name="name"]{
    width: 700px !important;
    min-width: 700px !important;
}
.field_order_line [data-name="product_id"]{
    width: 150px !important;
    min-width: 150px !important;
}
.field_order_line .panel-body{
    height: 50px !important;
    min-height: 50px !important;
}

.o_field_narration {
    display: flex !important;
}